body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

#tiles-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    background-color: gray;
    color: white;
}
